.login-container{
    margin:auto;
    margin-top: 250px;
    width: 50%;
    border: solid green;
    padding: 5px;
}

.login-container{
    display:flex;
    flex-direction: column;
}

form#signup-form{
    display:flex;
    flex-direction: column;
}

form#login-form{
    display:flex;
    flex-direction: column;

}

.nav-links{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    
}
ul{
    list-style: none;
}
li.nav-list-item{
    border: solid chocolate;
    border-width: thick;
    z-index: 500;
}

.top-nav-container{
    border:solid goldenrod;

}
#error-message{
    color: #FF8388

}
.admin-welcome{
    background: black;
    color: white;

}